<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">Identificacion cliente</th>
            <th scope="col">Tipo de entrada</th>
            <th scope="col">Número de clientes</th>
            <th scope="col">Costo</th>
            <th scope="col">Película</th>
            <th scope="col">Hora función</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1316895075</th>
            <td>3D</td>
            <td>5</td>
            <td>10</td>
            <td>Awake</td>
            <td>21:00</td>
          </tr>
          <tr>
            <th scope="row">1304887670</th>
            <td>Normal</td>
            <td>4</td>
            <td>7</td>
            <td>The long Halloween</td>
            <td>22:00</td>
          </tr>
          <tr>
            <th scope="row">1316895075</th>
            <td>3D</td>
            <td>5</td>
            <td>10</td>
            <td>Awake</td>
            <td>21:00</td>
          </tr>
          <tr>
            <th scope="row">1316895075</th>
            <td>Normal</td>
            <td>7</td>
            <td>10</td>
            <td>Awake</td>
            <td>21:00</td>
          </tr>
          <tr>
            <th scope="row">1316895075</th>
            <td>3D</td>
            <td>5</td>
            <td>10</td>
            <td>Awake</td>
            <td>21:00</td>
          </tr>
          <tr>
            <th scope="row">1316895075</th>
            <td>3D</td>
            <td>5</td>
            <td>10</td>
            <td>Awake</td>
            <td>21:00</td>
          </tr>
          <tr>
            <th scope="row">1316895075</th>
            <td>3D</td>
            <td>5</td>
            <td>10</td>
            <td>Awake</td>
            <td>21:00</td>
          </tr>
          <tr>
            <th scope="row">1316895075</th>
            <td>3D</td>
            <td>5</td>
            <td>10</td>
            <td>Awake</td>
            <td>21:00</td>
          </tr>
          <tr>
            <th scope="row">1316895075</th>
            <td>3D</td>
            <td>5</td>
            <td>10</td>
            <td>Awake</td>
            <td>21:00</td>
          </tr>
          <tr>
            <th scope="row">1316895075</th>
            <td>3D</td>
            <td>5</td>
            <td>10</td>
            <td>Awake</td>
            <td>21:00</td>
          </tr>
          <tr>
            <th scope="row">1316895075</th>
            <td>3D</td>
            <td>5</td>
            <td>10</td>
            <td>Awake</td>
            <td>21:00</td>
          </tr>
          <tr>
            <th scope="row">1316895075</th>
            <td>3D</td>
            <td>5</td>
            <td>10</td>
            <td>Awake</td>
            <td>21:00</td>
          </tr>
          <tr>
            <th scope="row">1316895075</th>
            <td>3D</td>
            <td>5</td>
            <td>10</td>
            <td>Awake</td>
            <td>21:00</td>
          </tr>
          <tr>
            <th scope="row">1316895075</th>
            <td>3D</td>
            <td>5</td>
            <td>10</td>
            <td>Awake</td>
            <td>21:00</td>
          </tr>
          <tr>
            <th scope="row">1316895075</th>
            <td>3D</td>
            <td>5</td>
            <td>10</td>
            <td>Awake</td>
            <td>21:00</td>
          </tr>
        </tbody>
      </table>
</body>
</html>