<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>examen</title>
</head>
<body class="container">
  <h1>Examen</h1>
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">No. Cuenta</th>
        <th scope="col">Lugar</th>
        <th scope="col">Fecha</th>
        <th scope="col">Hora</th>
        <th scope="col">Importe</th>
        <th scope="col">Comision</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">0000011</th>
        <td>Nuevo Tarqui</td>
        <td>2021-07-08</td>
        <td>15:05</td>
        <td>$300</td>
        <td>$1,20</td>
      </tr>
      <tr>
        <th scope="row">0000222</th>
        <td>Los Esteros</td>
        <td>2021-07-08</td>
        <td>15:05</td>
        <td>$500</td>
        <td>$1,20</td>
      </tr>
      <tr>
        <th scope="row">00003333</th>
        <td>Quito</td>
        <td>2021-07-08</td>
        <td>15:05</td>
        <td>$600</td>
        <td>$1,20</td>
      </tr>
      <tr>
        <th scope="row">0000444</th>
        <td>Esmeraldas</td>
        <td>2021-07-08</td>
        <td>15:05</td>
        <td>$350</td>
        <td>$1,20</td>
      </tr>
      <tr>
        <th scope="row">000055</th>
        <td>Cuenca</td>
        <td>2021-07-08</td>
        <td>15:05</td>
        <td>$100</td>
        <td>$1,20</td>
      </tr>
      <tr>
        <th scope="row">000066</th>
        <td>Guayaquil</td>
        <td>2021-07-08</td>
        <td>15:05</td>
        <td>$200</td>
        <td>$1,20</td>
      </tr>
      <tr>
        <th scope="row">000777</th>
        <td>San lorenzo</td>
        <td>2021-07-08</td>
        <td>15:05</td>
        <td>$200</td>
        <td>$1,20</td>
      </tr>
      <tr>
        <th scope="row">000999</th>
        <td>Chinmborazo</td>
        <td>2021-07-08</td>
        <td>15:05</td>
        <td>$500</td>
        <td>$1,20</td>
      </tr>
      <tr>
        <th scope="row">0008848</th>
        <td>Calderon</td>
        <td>2021-07-08</td>
        <td>15:05</td>
        <td>$450</td>
        <td>$1,20</td>
      </tr>
      <tr>
        <th scope="row">3546516</th>
        <td>Honorato vazques</td>
        <td>2021-07-08</td>
        <td>15:05</td>
        <td>$400</td>
        <td>$1,20</td>
      </tr>
      <tr>
        <th scope="row">6541651</th>
        <td>Santa Ana</td>
        <td>2021-07-08</td>
        <td>15:05</td>
        <td>$300</td>
        <td>$1,20</td>
      </tr>
      <tr>
        <th scope="row">6546846</th>
        <td>Cojimies</td>
        <td>2021-07-08</td>
        <td>15:05</td>
        <td>$150</td>
        <td>$1,20</td>
      </tr>
      <tr>
        <th scope="row">32453453</th>
        <td>Atacames</td>
        <td>2021-07-08</td>
        <td>15:05</td>
        <td>$250</td>
        <td>$1,20</td>
      </tr>
      <tr>
        <th scope="row">648488</th>
        <td>Picuaza</td>
        <td>2021-07-08</td>
        <td>15:05</td>
        <td>$260</td>
        <td>$1,20</td>
      </tr>
      <tr>
        <th scope="row">6561651</th>
        <td>Shopping</td>
        <td>2021-07-08</td>
        <td>15:05</td>
        <td>$360</td>
        <td>$1,20</td>
      </tr>
    </tbody>
  </table>
</body>
</html>